* {
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

.container {
  width: 1200px;
}

.shadow {
  width: 253px;
  height: 253px;
  background-color: #000000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon-text {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  font-family: "Inter";
  z-index: 1;
}
.icon-underline {
  width: 110px;
  height: 13px;
  background-color: #FFE605;
  position: absolute;
  margin-left: 34px;
  margin-bottom: 2px;
}

.navigation {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-icon {
  width: 145px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.navigation-items {
  margin-left: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
}
.navigation-buttons {
  margin-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-buttons .logIn {
  margin-right: 5px;
  width: 135px;
  height: 41px;
  background-color: #FFE605;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.navigation-buttons .logIn:hover {
  cursor: pointer;
}
.navigation-buttons .logUp {
  width: 135px;
  height: 41px;
  background-color: #FFE605;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.navigation-buttons .logUp:hover {
  cursor: pointer;
}

.prev {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.prev-content-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prev-content-down {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.introduction-left {
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.introduction-title {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
  color: #000000;
  z-index: 1;
}
.introduction-undeline {
  width: 335px;
  height: 19px;
  background-color: #FFE605;
  position: absolute;
  margin-left: 156px;
  margin-bottom: 80px;
}
.introduction-right {
  margin-right: 32px;
}
.introduction-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.introduction-btn {
  margin-top: 55px;
  width: 169px;
  height: 53px;
  background-color: #FFE605;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.introduction-btn:hover {
  cursor: pointer;
}

.services-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services-blocks {
  width: 315px;
  margin-right: 30px;
}
.services-blocks:nth-last-child(1) {
  margin-right: 0;
}
.services-block {
  width: 300px;
  height: 254px;
  background-color: #FFE605;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 2;
}
.services-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-left: 16px;
  padding-top: 16px;
}
.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-left: 16px;
  margin-top: 45px;
}
.services-btn {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-top: 45px;
}
.services-btn:hover {
  cursor: pointer;
}
.services-btn .btn-text {
  margin-right: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.services-right {
  width: 491px;
  height: 491px;
  background-image: url(../img/man.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ghost-open {
  display: none;
}

.humb {
  display: none;
}

@media (max-width: 415px) {
  .container {
    width: 100%;
  }
  body {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 25px;
  }
  .humb {
    display: block;
  }
  .navigation {
    margin-top: 0;
  }
  .navigation-items {
    display: none;
  }
  .navigation-buttons {
    display: none;
  }
  .navigation-icon {
    width: 70px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .icon-text {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-family: "Inter";
    z-index: 1;
  }
  .icon-underline {
    width: 54px;
    height: 6px;
    background-color: #FFE605;
    position: absolute;
    margin-left: 16px;
    margin-bottom: 4px;
  }
  .prev {
    margin-top: 85px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev-content-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev-content-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .introduction-left {
    height: 123px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .introduction-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    z-index: 1;
  }
  .introduction-undeline {
    width: 195px;
    height: 9px;
    background-color: #FFE605;
    position: absolute;
    margin-left: 85px;
    margin-bottom: 42px;
  }
  .introduction-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
  }
  .introduction-btn {
    margin-top: 35px;
    width: 121px;
    height: 37px;
    background-color: #FFE605;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
  }
  .introduction-btn:hover {
    cursor: pointer;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-left {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .services-blocks {
    width: 312px;
    margin-bottom: 33px;
    margin-right: 0;
  }
  .services-block {
    width: 300px;
    height: 254px;
    background-color: #FFE605;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 2;
  }
  .services-right {
    margin-top: 56px;
    width: 276px;
    height: 276px;
    background-size: 100%;
  }
  .ghost-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ghost-close {
    display: none;
  }
}