@import "mix.scss";
@import "var.scss";
// Adaptive at the end!!!
@function rem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

html {}

* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

.container {
    width: rem(1200);
}

.shadow {
    width: rem(253);
    height: rem(253);
    background-color: $black;
}

// HEADER
.header {
    @include flex(center, flex-start);
}

// ICON
.icon {
    &-text {
        @include fonts(800, 40, 48, $black) {
            font-family: 'Inter';
        }
        ;
        z-index: 1;
    }
    &-underline {
        @include underline(110, 13);
        margin-left: rem(34);
        margin-bottom: rem(2);
    }
}

// NAVIGATION
.navigation {
    margin-top: rem(45);
    @include flex(space-between, center);
    // POSITION ICON
    &-icon {
        width: rem(145);
        height: rem(50);
        @include flex(space-between, flex-end) {}
        ;
    }
    // NAV-ITEMS
    &-items {
        margin-left: rem(270);
        @include flex(space-between, center);
    }
    &-item {
        padding: rem(10);
        @include flex(center, center);
        &-link {
            @include fonts(400, 20, 23, $black) {
                text-decoration: none;
            }
            ;
        }
    }
    // NAV-BTN
    &-buttons {
        margin-left: rem(165);
        @include flex(flex-end, center);
        .logIn {
            margin-right: rem(5);
            @include button(135, 41) {
                background-color: $white;
            }
            @include fonts(700, 20, 23, $black);
        }
        .logUp {
            @include button(135, 41) {}
            @include fonts(700, 20, 23, $black);
        }
    }
}

// PREV
.prev {
    margin-top: rem(120);
    @include flex(center, flex-start);
    &-content {
        // UP
        &-up {
            width: 100%;
            @include flex(space-between, center);
        }
        // DOWN
        &-down {
            margin-top: rem(40);
            @include flex(space-between, flex-end);
        }
    }
}

//INTRODUCTION
.introduction {
    // LEFT
    &-left {
        height: rem(225);
        @include flex(space-between, flex-end);
    }
    &-title {
        @include fonts(700, 65, 75, $black);
        z-index: 1;
    }
    &-undeline {
        @include underline(335, 19) {
            margin-left: rem(156);
            margin-bottom: rem(80);
        }
        ;
    }
    // RIGHT
    &-right {
        margin-right: rem(32);
    }
    &-text {
        @include fonts(400, 20, 23, $black);
    }
    &-btn {
        margin-top: rem(55);
        @include button(169, 53);
        @include fonts(700, 24, 28, $black);
    }
}

// SERVICES
.services {
    // LEFT
    &-left {
        @include flex(space-between, center);
    }
    &-blocks {
        width: rem(315);
        margin-right: rem(30);
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
    &-block {
        width: rem(300);
        height: rem(254);
        background-color: $yellow;
        position: absolute;
        margin-left: rem(15);
        margin-top: rem(15);
        z-index: 2;
    }
    &-title {
        @include fonts(700, 24, 28, $black);
        margin-left: rem(16);
        padding-top: rem(16);
    }
    &-text {
        @include fonts(400, 16, 18, $black);
        margin-left: rem(16);
        margin-top: rem(45);
    }
    &-btn {
        &:hover {
            cursor: pointer;
        }
        background: none;
        border: none;
        @include flex(center, center);
        margin-left: rem(16);
        margin-top: rem(45);
        .btn-text {
            margin-right: rem(5);
            @include fonts(700, 20, 23, $white);
        }
        .img-sevices {}
    }
    // RIGHT
    &-right {
        width: rem(491);
        height: rem(491);
        background-image: url(../img/man.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

// ADAPTIVE
.ghost-open {
    display: none;
}

.hide-menu {
    display: none;
}

.hide-menu-link {
    display: none
}

.margin-up {
    padding-top: rem(100);
}

.blur {
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100%;
    width: 100%;
}

.offblur {
    background: none;
}

.fixed {
    position: fixed;
}

@import "media.scss";
.ghost {
    display: none;
}